@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    /* #7c3aed */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;

    --color-grayscale-000: #FFFFFF;
    --color-grayscale-025: #FAFAFA;
    --color-grayscale-050: #F5F5F5;
    --color-grayscale-100: #EDEDED;
    --color-grayscale-200: #DBDDE0;
    --color-grayscale-250: #BCC1C9;
    --color-grayscale-300: #6A7380;
    --color-grayscale-325: #575C66;
    --color-grayscale-350: #313235;
    --color-grayscale-veil: rgba(255, 255, 255, 0.8);
    --fade-out: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;

    --color-grayscale-000: #050505;
    --color-grayscale-025: #131417;
    --color-grayscale-050: #1C1E21;
    --color-grayscale-100: #26282C;
    --color-grayscale-200: #2D3034;
    --color-grayscale-250: #40454D;
    --color-grayscale-300: #848990;
    --color-grayscale-325: #A9ADB1;
    --color-grayscale-350: #DFE0E2;
    --color-grayscale-veil: rgba(19, 20, 23, 0.8);
    /* see --background */
    --fade-out: linear-gradient(to bottom, rgba(3, 7, 18, 0), rgba(3, 7, 18, 1));
  }
}

* {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.gradient-text {
  color: var(--primary-color);
  background-color: var(--primary-color);
  background-image: linear-gradient(90deg, #7c3aed, #9f72f0 40%, #c29cf3 55%, #e5c6f6 60%);
  background-image: conic-gradient(90deg, #7c3aed, #9f72f0 40%, #c29cf3 55%, #e5c6f6 60%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-white {
  border-color: #fff !important;
}

.plus-pattern {
  background-color: var(--color-grayscale-325);
  background-image: url("../public/svgs/pattern.svg");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.isometric-pattern {
  background-image: url("../public/svgs/isometic.svg");
  background-position: 10px 10px;
  background-repeat: repeat;
  background-size: auto;
}

.isometric-pattern::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--fade-out);
  z-index: 1;
}

.isometric-pattern .content {
  z-index: 2;
}

.radial-pattern {
  background-size: 10px 10px;
  background-image: radial-gradient(rgba(180, 249, 186, 1) "1px", var(--color-grayscale-025) "1px");
}

.dotted-pattern {
  background-size: 10px 10px;
  background-image: radial-gradient(hsl(var(--primary)) 1px, var(--color-grayscale-025) 1px);
}

.jumbotron-pattern {
  /* background-size: 10px 10px; */
  background-image: url("https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg");
  /* background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%; */
  /* background-size: cover; */
}

.grid-pattern {
  background-color: var(--color-grayscale-000);
  background-image: linear-gradient(var(--color-grayscale-200) 1px, transparent 1px),
    linear-gradient(to right, var(--color-grayscale-200) 1px, var(--color-grayscale-000) 1px);
  background-size: 20px 20px;
  background-position: 10px 10px;
}


.fade-out {
  opacity: 0.3;
  /* Adjust the opacity for the desired fade-out effect */
  transition: opacity 0.5s ease-in-out;
  /* Adjust the transition duration and timing function as needed */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(128 143 147/var(--tw-bg-opacity));
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-grayscale-050);
  border-radius: 4px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Path: */

.tilt-div {
  transition: transform 0.3s ease;
}

.tilt-div:hover {
  transform: rotate(-3deg);
}

.icon {
  width: 64px;
  height: 64px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(0);
}

.icon.show {
  opacity: 1;
}